.map-container {
  min-height: 400px;
  position: relative;
  background: #eaeaea;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.map-container .map-container-element {
  height: 400px;
}

/*# sourceMappingURL=location.css.map */
